@import '../../styles/colors.scss';

.carousel{
    overflow: hidden;
    width: 100%;
    height: 100%;

    .inner{
        white-space: nowrap;
        transition: transform 0.3s;
        width: 90%;
    }

    .carousel-item{
        display: inline-flex;
    }

    .indicators{
        display: flex;
        margin-top: 40px;
        justify-content: center;
        align-items: center;

        .btn{
            margin: 10px;
        }
    }
}