
$backgroundColor: #161618;

$white: #ffffff;

$black: #000000;

$contactUsImgBg: #393D43;
$cardBg: #303133;

$darkestYellow: #EBAB01;
$lightYellow: #F4E07E;
$lightBackgroundColor: #282D33;


$lineColors: #FED70D;
$circleColor: #FFD607;
$ffd60a: #FFD60a;
$button: #ffd606;
$ffd600: #ffd600;
